@font-face{
	font-family:"CV";
	src: url('First-Regular.eot'),
		 url('First-Regular.woff') format('woff'),
		 url('First-Regular.woff2') format('woff2')
		 
}



#super {
	color: #36BE52;
	font-weight: normal;
	font-family: CV;
	font-size: 10em;
	margin: 1%;
	line-height: .9em;
	margin-bottom: .3em;

}
#grey{
	color:#BEBEBE;
}

#orange{
	color:#F9EB40;
}

#green{
	color:#36BE52;
}

#purple{
	color:#A798FF;
}

#peach{
	color:#FFD5D5;
}

body {
	background-color: black;
	width: 90vw;
	margin; 0 auto;
	
}

.intro{
	width: 80vw;
	height: 700px;
	margin: 1%;
	padding-top: 0;
	padding-right: 10%;
	padding-left: 10%;
	background-color: none;
	float: center;
	margin-bottom: 10em;

}

.menu{
	width: 80vw;
	height: 700px;
	margin: 1%;
	padding: 0%;
	background-color: none;
	float: center;
}

.caption{
	margin-bottom: 10em;
}

.box{
	width: 50vw;
	margin: 0;
	padding: 0 1%;
	background-color: none;
	float: left;
}

.list{
	border-top: 1px solid grey;
	margin-bottom: 3em;
}

.article{
	margin-bottom: 10em;
}

h1{
	color: white;
	font-weight: normal;
	font-family: CV;
	font-size: 3em;
	letter-spacing:1px;
	margin-bottom: .05em;
	margin-top:.05em;
}

h2{
	font-weight: normal;
	font-family:CV;
	color:white;
	font-size: 2em;
}

h3{
	font-weight: normal;
	font-family:CV;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: white;
	font-size: .5em;
	line-height: 18px;}

summary{
	font-weight: normal;
	font-family:CV;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: white;
}

p{
	color: #BEBEBE;
	font-family:CV;
	letter-spacing: 1.4px;
	font-size: 1.4em;
	line-height: 1.5em;
	margin:0;
	margin-bottom: 2em;
}

ol.a {list-style-type: lower-roman;
	line-height: 2em;
}

li{
	font-family:CV;
	color:white;
	line-height: .9em;
}


a{
	font-weight: normal;
	color: #F9EB40;
	text-decoration: none;
	
}



@media screen and (max-width: 700px){

#super {
	color: pink;
	font-weight: normal;
	font-family: CV;
	font-size: 2em;
	margin: 1%;
	line-height: .9em;
	margin-bottom: 0em;
}

body {
	background-color: black;
	width: 90vw;
	margin; 0 auto;
}

.intro{
	width: 90vw;
	margin: 1%;
	padding: 3%;
	background-color: none;
	float: center;
}

h1{
	color: white;
	font-weight: normal;
	font-family: CV;
	font-size: 2em;
	letter-spacing:1px;
}

h2{
	font-weight: normal;
	font-family:CV;
	color:white;
	font-size: 1.6em
}

p{
	color: grey;
	font-family:CV;
	letter-spacing: 1.7px;
	font-size: .9em;
	margin-bottom: 2em;
}

.box{
	width: 90vw;
	margin: 0;
	padding: 0 1%;
	background-color: none;
	float: left;
}
}