@font-face{
	font-family:"CV";
	src: url('CV.woff') format('woff'),
		 url('CV.woff2') format('woff2')
}



#super {
	color: pink;
	font-weight: normal;
	font-family: CV;
	font-size: 10em;
	margin: 1%;
	line-height: .9em;

}

body {
	background-color: black;
	width: 90vw;
	margin; 0 auto;
	
}

.intro{
	width: 80vw;
	height: 700px;
	margin: 1%;
	padding: 10%;
	background-color: none;
	float: center;
}

.box{
	width: 50vw;
	margin: 0;
	padding: 0 1%;
	background-color: none;
	float: left;


}

h1{
	color: white;
	font-weight: normal;
	font-family: CV;
	font-size: 3em;
	letter-spacing:1px;
	;
}

h2{
	font-weight: normal;
	font-family:CV;
	color:white;
	font-size: 2em;
}

h3{
	font-weight: normal;
	font-family:CV;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: white;

}

summary{
	font-weight: normal;
	font-family:CV;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: white;
}

p{
	color: white;
	font-family:CV;
}

li{
	font-family:CV;
	color:white
}


a{
	font-weight: normal;
	color: pink;
	text-decoration: none;
	
}


@media screen and (max-width: 800px){

#super {
	color: pink;
	font-weight: normal;
	font-family: CV;
	font-size: 4em;
	margin: 1%;
	line-height: .9em;
}

body {
	background-color: black;
	width: 90vw;
	margin; 0 auto;
}

.intro{
	width: 90vw;
	margin: 1%;
	padding: 3%;
	background-color: none;
	float: center;
}

h1{
	color: white;
	font-weight: normal;
	font-family: CV;
	font-size: 2.3em;
	letter-spacing:1px;
}

h2{
	font-weight: normal;
	font-family:CV;
	color:white;
	font-size: 1.6em
}

.box{
	width: 90vw;
	margin: 0;
	padding: 0 1%;
	background-color: none;
	float: left;
}
}